.contact-page {
    background: #141420;
    padding: 180px 0 100px;
}

.contact-page__title {
    margin-bottom: 80px;

    h1 {
        color: #FFF;
        font-family: Urbanist;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        text-transform: capitalize;
    }
}

.contact-page__form {
    width: 100%;

    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .formbtn {
        outline: none;
        border: none;

        &.disabled {
            pointer-events: none;
        }
    }

    .inputfield {
        width: 49%;
        background: transparent;
        color: #FFF;
        font-family: Urbanist;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        margin-bottom: 44px;
        padding: 0 0 14px 0;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.35);

        &::placeholder {
            color: #FFF;
            font-family: Urbanist;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            transition: .3s;
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }

    .inputrow {
        margin: 30px 0 40px;
        width: 100%;
        display: flex;
        align-items: flex-end;

        textarea {
            resize: none;
            background: transparent;
            color: #FFF;
            font-family: Urbanist;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            padding: 0 0 14px 0;
            width: 70%;
            height: 40px;
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.35);

            &::placeholder {
                color: #FFF;
                font-family: Urbanist;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                transition: .3s;
            }

            &:focus::placeholder {
                opacity: 0;
            }
        }

        label {
            width: 30%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.35);
            padding-bottom: 14px;
            cursor: pointer;
            text-align: right;
        }

        input[type=file] {
            opacity: 0;
            height: 0;
            width: 0;
            padding: 0;
            margin: 0;
        }
    }

    .checkfield {
        width: 100%;
        margin-bottom: 60px;
        position: relative;
        padding-left: 35px;

        span {
            color: #FFF;
            font-family: Urbanist;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            cursor: pointer;
            transition: .3s;

            &:hover {
                opacity: 0.7;
            }

            &:before {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                border: 1px solid #52525A;
                border-radius: 4px;
            }
        }

        input {
            opacity: 0;
            position: absolute;
            z-index: -1;

            &:checked+span:before {
                background-image: url(../img/svg/check_icon.svg);
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}


.contact-page__image {
    text-align: right;

    img {
        max-width: 662px;
        width: 100%;
        border-radius: 40px 0px;
    }
}

.contact-widget {
    background: #141420;
    padding: 100px 0 150px;

    h2 {
        color: #FFF;
        text-align: center;
        font-family: Urbanist;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 81px;
        text-align: left;
    }
}

.contact-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-row__info {
    display: flex;
    align-items: center;
}

.contact-row__item {
    display: flex;
    align-items: center;
    margin-right: 80px;

    &:last-child {
        margin-right: 0;
    }

    img {
        margin-right: 20px;
        width: 53px;
        height: 53px;
        background-size: cover;
    }

    p {
        color: #FFF;
        font-family: Urbanist;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 0.18px;
    }

    span {
        color: #FFF;
        font-family: Urbanist;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.15px;
        margin-left: 9px;
    }

    a {
        color: #FFF;
        font-family: Urbanist;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.18px;
        transition: .3s;

        &:hover {
            opacity: .6;
        }
    }
}

.contact-row__socials {
    display: flex;
    align-items: center;

    a {
        transition: .3s;
        width: 53px;
        height: 53px;
        background-color: #6573FF;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            filter: brightness(120%);
        }

        img {
            width: 35px;
        }

        &+a {
            margin-left: 25px;
        }
    }
}

.copysect {
    background: #0A0A16;
}

.copysect__inner {
    padding: 19px 0;
    display: flex;
    align-items: center;

    h2 {
        color: #FFF;
        font-family: Urbanist;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        margin-right: 75px;
    }

    p {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        line-height: 170%;
    }
}

// ---------------------- ADAPTIVE --------------------------- //

@media(max-width: 1399.8px) {
    .copysect__inner h2 {
        font-size: 42px;
    }

    .contact-row {
        flex-wrap: wrap;
    }

    .contact-row__info {
        margin-bottom: 60px;
    }

    .contact-widget {
        padding: 80px 0 100px;
    }

    .contact-widget h2 {
        font-size: 48px;
        margin-bottom: 65px;
    }

    .contact-page {
        padding: 180px 0 80px;
    }

    .contact-page__form .inputfield {
        margin-bottom: 35px;
    }

    .contact-page__form .inputrow {
        margin: 15px 0 35px;
    }

    .contact-page__title {
        margin-bottom: 50px;

        h1 {
            font-size: 48px;
        }
    }

    .contact-page__form {
        width: 100%;
        padding-right: 30px;
    }
}


@media(max-width: 1199.8px) {
    .contact-page {
        padding: 160px 0 80px;
    }
    .contact-row__item {
        margin-right: 50px;
    }
}

@media(max-width: 991.8px) {
    .copysect__inner h2 {
        font-size: 36px;
    }

    .contact-row__info {
        margin-bottom: 20px;
    }

    .contact-row__item {
        margin-bottom: 40px;
    }

    .contact-row__info {
        flex-wrap: wrap;
    }

    .contact-widget h2 {
        font-size: 36px;
    }

    .contact-widget {
        padding: 50px 0 80px;
    }

    .contact-page__image img {
        max-width: 100%;
        max-height: 400px;
        object-fit: cover;
    }

    .contact-page__image {
        text-align: center;
    }

    .contact-page__form {
        padding-right: 0;
        margin-bottom: 50px;
    }

    .contact-page {
        padding: 130px 0 50px;
    }

    .contact-page__title h1 {
        font-size: 36px;
    }
}

@media(max-width: 767.8px) {
    .contact-page__image img {
        max-height: 320px;
    }

    .contact-widget {
        padding: 35px 0 60px;
    }

    .contact-widget h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .copysect__inner h2 {
        font-size: 30px;
    }

    .contact-page__title h1 {
        font-size: 30px;
    }
}

@media(max-width: 575.8px) {
    .contact-widget {
        padding: 10px 0 40px;
    }

    .contact-page__image img {
        max-height: 200px;
    }

    .copysect__inner h2 {
        width: 100%;
        margin-bottom: 20px;
    }

    .copysect__inner {
        flex-wrap: wrap;
    }

    .contact-page__form .inputfield {
        width: 100%;
        font-size: 16px;

        &::placeholder {
            font-size: 16px;
        }
    }

    .contact-page__form .inputrow {
        margin: 0px 0 35px;
        flex-wrap: wrap;

        textarea {
            width: 100%;
            font-size: 16px;

            &::placeholder {
                font-size: 16px;
            }
        }

        label {
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 60px;
            text-align: left;
        }
    }
}