.header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: .6s;

    &.change-bg {
        background: #0B0B11;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    }
}

.burger-btn {
    display: none;
}

.header__logo {
    a {
        display: block;
    }

    img {
        width: 60px;
        height: 60px;
        background-size: cover;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__menu {
    margin-right: 215px;

    >ul {
        display: flex;
        align-items: center;

        li {
            padding: 0;

            &:before {
                display: none;
            }

            +li {
                margin-left: 70px;
            }

            &:hover>a {
                color: #9ea5fc;
            }
        }

        a {
            color: #FFF;
            font-family: Urbanist;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            transition: .3s;
        }
    }

    .submenu {
        position: relative;
        padding-right: 22px;

        .arrow {
            position: absolute;
            top: 4px;
            right: 0;
            width: 16px;
            height: 16px;
            background-size: cover;
            cursor: pointer;
            transition: .3s;

            path {
                transition: .3s;
            }
        }

        ul {
            position: absolute;
            visibility: hidden;
            z-index: -1;
            transform: translateY(20px);
            transition: .4s;
            opacity: 0;
            background-color: #fff;
            padding: 18px 0;
            box-shadow: 0 0 12px rgba(0, 0, 0, .1);
            width: 270px;
            top: 100%;

            li {
                list-style: none;
                margin: 0;

                &+li {
                    margin: 0 0 0 0;
                }

                a {
                    color: #0f1115;
                    display: block;
                    transition: .3s;
                    padding: 10px 25px;
                    font-size: 16px;

                    &:hover {
                        background-color: #9ea5fc;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.header__contacts {
    li {
        padding: 0;

        &:before {
            display: none;
        }

        &+li {
            margin-top: 8px;
        }

        a {
            display: block;
            color: #FFF;
            text-align: right;
            font-family: Urbanist;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            transition: .3s;

            &:hover {
                color: #9ea5fc;
            }
        }
    }
}


//  -----------------------------  ADAPTIVE  -------------------------------------- //

@media(min-width: 991.8px) {
    .header__menu .submenu:hover {
        .arrow {
            transform: rotate(180deg);

            path {
                stroke: #9ea5fc;
            }
        }

        ul {
            visibility: visible;
            z-index: 1;
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@media(max-width: 1399.8px) {
    .header__menu {
        margin-right: 100px;
    }

    .header__menu>ul li+li {
        margin-left: 50px;
    }
}

@media(max-width: 1199.8px) {
    .header__menu>ul a {
        font-size: 16px;
    }

    .header__menu {
        margin-right: 60px;
    }

    .header__menu>ul li+li {
        margin-left: 35px;
    }

    .header {
        height: 80px;
    }
}

@media(max-width: 991.8px) {
    .header {
        background-color: #0B101E;

        &.change-bg {
            background-color: #0B101E;
        }
    }

    .header__nav {
        position: fixed;
        z-index: -1;
        transform: translateX(120%);
        overflow: scroll;
        transition: .6s;
        top: 80px;
        right: 0;
        width: 45%;
        height: calc(100vh - 80px);
        flex-direction: column;
        background-color: #0B101E;
        justify-content: flex-start;
        align-items: flex-start;

        &.active {
            transform: translateY(0);
        }
    }

    .header__menu {
        margin-right: 0;
        width: 100%;
        margin-bottom: 30vh;
        padding: 0 10%;

        >ul {
            align-items: flex-start;

            li {
                text-align: left;

                a {
                    font-weight: 600;
                }

                +li {
                    margin-top: 35px;
                    margin-left: 0;
                }
            }
        }

        .submenu {
            width: 250px;

            ul {
                position: relative;
                visibility: visible;
                z-index: 1;
                transform: translateY(0px);
                transition: none;
                opacity: 1;
                width: 100%;
                background: transparent;
                padding: 20px 0 0;
                display: none;

                li {
                    +li {
                        margin-top: 25px;
                    }

                    a {
                        color: #fff;
                        padding: 0;
                        font-weight: 400;
                        font-size: 18px;

                        &:hover {
                            color: #fff;
                            background: transparent;
                        }
                    }
                }
            }
        }
    }

    .header__contacts {
        padding: 0 10% 30px;

        li+li {
            margin-top: 10px;
        }

        li a {
            text-align: left;
        }
    }

    .header__menu>ul {
        flex-direction: column;
    }

    .burger-btn {
        display: block;
        cursor: pointer;
        position: relative;
        width: 35px;
        height: 35px;
        margin: 0 0 0 auto;

        img {
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s;
        }

        .open {
            width: 35px;
            height: 35px;
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }

        .close {
            width: 20px;
            height: 20px;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
        }

        &.active {
            .open {
                display: none;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
            }

            .close {
                display: block;
                opacity: 1;
                visibility: visible;
                z-index: 1;
            }
        }
    }
}

@media(max-width: 765.8px) {
    .header__nav {
        width: 100%;
    }

    .header__menu {
        padding: 30px 15% 0;
    }

    .header__contacts {
        padding: 0 15% 30px;
    }

    .header__menu .submenu {
        width: 100%;
    }
}

@media(max-width: 575.8px) {
    .header__menu {
        padding: 30px 15px 0;
    }

    .header__contacts {
        padding: 0 15px 30px;
    }

}