// ----------------------------------- WELCOMESECT SECTION -------------------------------- //
.welcomesect {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.welcomesect__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.welcomesect__info {
    h1 {
        color: #FFF;
        font-family: Urbanist;
        font-size: 80px;
        font-style: normal;
        font-weight: 900;
        line-height: 130%;
        max-width: 760px;

        span {
            color: #7681F3;
        }

        margin-bottom: 35px;
    }

    p {
        color: #FFF;
        max-width: 460px;
        margin-bottom: 40px;
    }
}



// -------------------------------- PHILOSDOPHY SECTION ----------------------------------- //

.philosophy {
    padding: 110px 0;
}

.philosophy__left {
    max-width: 640px;
}

.philosophy__left-content {
    h2 {
        color: #FFF;
        margin-bottom: 65px;
    }

    p {
        color: #E6E6E7;
        margin-bottom: 40px;
    }

    img {
        width: 100%;
        background-size: cover;
        border-radius: 40px 0px;
    }
}

.philosophy__right {
    >h2 {
        color: #FFF;
        margin-bottom: 65px;

        span {
            color: #7681F3;
        }
    }
}

.philosophy__right-row {
    display: flex;
}

.philosophy__right-item {
    margin-bottom: 25px;
    width: 33.33%;

    img {
        margin-bottom: 20px;
        width: 68px;
        height: 68px;
        background-size: cover;
    }

    p {
        padding-right: 20px;
        color: #E6E6E7;
    }
}

.philosophy__right-content {
    p {
        color: #E6E6E7;

        &+p {
            margin-top: 10px;
        }
    }

    ul {
        margin-top: 20px;

        li {
            &:before {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}


//  ------------------------------------ EXPERIENTS SECTION ---------------------------- //

.experience {
    padding: 110px 0 0;
    background: #FFF;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: #141420;
        display: block;
        width: 100%;
        height: 30%;
    }
}

.experience__title {
    text-align: center;
    color: #0B0B11;
    margin-bottom: 65px;
}

.experience__item {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 60px 40px;
    height: 443px;
    border-radius: 20px;
    background: #0B0B11;
    box-shadow: 0px 0px 22px -3px rgba(11, 11, 17, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        color: #FFF;
        font-family: Urbanist;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.3px;
        padding-bottom: 18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.13);
        margin-bottom: 30px;
    }
}



//  ------------------------------------ APPROACH SECTION ---------------------------- //

.approach {
    padding: 110px 0;
    background: #141420;
}

.approach__title {
    text-align: center;
    color: #FFF;
    margin-bottom: 62px;
}

.approach__slider {
    max-width: 100%;
    padding: 100px 120px 0;

    .swiper-button-prev,
    .swiper-button-next {
        width: 40px;
        height: 40px;
        top: 60%;
        background-size: cover;
        background-repeat: no-repeat;

        &:after {
            display: none;
        }
    }

    .swiper-button-prev {
        background-image: url(../img/svg/left-arrow.svg);
        background-size: cover;
    }

    .swiper-button-next {
        background-image: url(../img/svg/right-arrow.svg);
    }

    .swiper-pagination {
        top: 0 !important;
        height: 40px;
    }

    .swiper-pagination-bullet {
        color: #FFF;
        text-align: center;
        font-family: Urbanist;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        opacity: 1;
        height: 100%;
        background: transparent;
        width: 220px;
        padding-bottom: 15px;
        transition: .3s;
        border-radius: 0;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            background: #fff;
            left: 50%;
            bottom: 0;
            transition: .3s;
        }

        &.swiper-pagination-bullet-active:after {
            left: 0;
            width: 100%;
        }
    }
}

.approach__slider-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >img {
        width: 40%;
    }
}



.approach__slide-content {
    width: 50%;

    h3 {
        color: #FFF;
        font-family: Urbanist;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.3px;
        margin-bottom: 12px;
    }

    span {
        display: block;
        color: #B5B5B7;
        font-family: Urbanist;
        font-size: 20px;
        font-style: normal;
        font-weight: 200;
        line-height: 130%;
        margin-bottom: 25px;
    }

    ul {
        margin-bottom: 40px;
    }

    li+li {
        margin-top: 10px;
    }
}



// ----------------------- TECHNOLOGIES SECTION ----------------------- //

.technologies {
    padding: 110px 0 100px;
    background-color: #fff;
}

.technologies__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;

    h2 {
        color: #0B0B11;
        max-width: 600px;
    }
}

.technologies__content {
    .row+.row {
        margin-top: 40px;
    }
}

.technologies__content-bigitem {
    background-color: #141420;
    padding: 30px;
    width: 100%;
    height: 255px;
    border-radius: 20px;

    img {
        width: 65px;
        height: 65px;
        background-size: cover;
        margin-bottom: 25px;
    }

    p {
        color: #E6E6E7;
        font-family: Urbanist;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.19px;
    }
}

.technologies__content-smallitem {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;

    img {
        width: 45px;
        height: 45px;
        background-size: cover;
        margin-right: 15px;
    }

    p {
        color: #6573FF;
        font-family: Urbanist;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.19px;
        max-width: 160px;
    }
}


// ----------------------- QR SECTION ----------------------- //

.qr {
    padding: 93px 0;
    background-color: #0B0B11;
    position: relative;
}

.qr__frame {
    position: absolute;
    width: 47%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 182px;
    border-radius: 20px 0px 20px 0px;
    background: #6573FF;
    display: flex;

    .qr-icon {
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    .books {
        position: absolute;
        right: 8%;
        top: 50%;
        transform: translateY(-50%);
    }

}

.qr__inner {
    h3 {
        color: #FFF;
        font-family: Urbanist;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        width: 660px;
    }
}


// ----------------------- SERVICES SECTION ----------------------- //

.services__top {
    background-color: #fff;
    padding-top: 110px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 33%;
        background: #141420;
    }
}

.services__title {
    text-align: center;
    margin-bottom: 80px;
}

.services__top-item {
    height: 520px;
    width: 100%;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    background: #0B0B11;
    box-shadow: 0px 0px 22px -3px rgba(11, 11, 17, 0.15);
    padding: 39px 30px 30px;
    position: relative;

    >img {
        width: 65px;
        height: 54px;
        background-size: cover;
        margin-bottom: 30px;
    }

    p {
        color: #FFF;
        font-family: Urbanist;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.21px;
        margin-bottom: 30px;
        padding-bottom: 18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    }
}

.services__bottom {
    background: #141420;
    padding: 60px 0 100px;
}

.services__bottom-item {
    width: 100%;
    height: 90px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(9.333333015441895px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    position: relative;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .2s;
    }

    .static {
        opacity: 1;
    }

    .hover {
        opacity: 0;
    }

    &:hover {
        .static {
            opacity: 0;
        }

        .hover {
            opacity: 1;
        }
    }
}



//  ------------------ QUALITI SECTION ------------------------------------ //

.quality {
    padding: 110px 0;
    background-color: #fff;

    h2 {
        text-align: center;
        margin-bottom: 80px;
        color: #0B0B11;
    }
}

.quality__inner {
    text-align: center;
    margin-bottom: 8px;
    color: #0B0B11;

    img {
        max-width: 1160px;
        width: 100%;
        background-size: cover;
        margin: 0 auto;
    }
}




//  ------------------------------  TEAM SECTION ------------------------------ //

.team {
    padding: 100px 0 160px;
    background: #141420;
}

.team__head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

    h2 {
        color: #FFF;
    }
}

.team__row {
    &+.team__row {
        margin-top: 100px;
    }

    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 440px;

    &:nth-child(even) {
        flex-direction: row-reverse;

        .team__row-content {
            padding-left: 78px;
            padding-right: 40px;
            border-radius: 20px 0 0 20px;
        }

        .team__row-image {
            border-radius: 40px 0 40px 0;
        }
    }
}

.team__row-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 15px;

    .team__row-social {
        display: flex;
        align-items: center;
    }

    a {
        border: 1px solid #6573FF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        &+a {
            margin-left: 19px;
        }
    }
}

.team__row-image {
    overflow: hidden;
    width: 40%;
    height: 440px;
    background-color: #0B0B11;
    border-radius: 40px 0 0 0;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 20px 0 20px 0;
        object-fit: cover;
    }
}

.team__row-qr {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 110px;
    display: flex;
    align-items: flex-end;

    p {
        background-color: #0B0B11;
        height: 73px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
    img{
        height: 100%;
        width: 110px;
        object-fit: cover;
    }
}

.team__row-content {
    height: 420px;
    width: 60%;
    background-color: #0B0B11;
    border-radius: 0 20px 20px 0;
    position: relative;
    padding: 35px;

    h3 {
        color: #FFF;
        font-family: Urbanist;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.3px;
    }

    span {
        color: #E6E6E7;
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        margin-bottom: 15px;
        display: block;
    }

    p {
        color: #E6E6E7;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        line-height: 150%;
        margin-bottom: 25px;
    }
}

.team__content-icons {
    display: flex;
    align-items: center;
    height: 56px;

}

.team__content-frame {
    position: absolute;
    top: 20px;
    right: 22px;
    width: 66px;
    background-size: cover;
}


// --------------------------------------  REFERENCES TAB ------------------------------------ //
.references {
    background-color: #fff;
    padding: 115px 0;
    position: relative;
}

.reference__frame {
    position: absolute;
    width: 332px;
    background-size: cover;
    bottom: 67px;
    right: 0;
}

.references__title {
    margin-bottom: 30px;
    color: #0B0B11;
}

.references__content {
    p {
        color: #2F2F34;
        margin-bottom: 40px;
        max-width: 400px;
    }
}

.references__item {
    padding: 30px;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.12);

    p {
        background-size: cover;
        color: #2F2F34;
        font-size: 17px;
        font-family: Urbanist;
        line-height: 150%;
        letter-spacing: 0.17px;
    }

    a {
        color: #6573FF;
        transition: .3s;

        &:hover {
            opacity: 0.6;
        }
    }
}

.references__content-frame {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 50px;
    background-size: cover;
}

.references__item-head {
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 1px solid #E6E6E6;

    img {
        margin-right: 21px;
        width: 71px;
    }
}

.references__item-content {
    padding-top: 15px;
    margin-bottom: 20px;
}



// --------------------------------- INFO SECTION ------------------------------ //
.info {
    padding: 160px 0;
    background: #141420;
}

.info__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &+.info__row {
        margin-top: 170px;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
    }

}

.info__row-image {
    width: 47%;
    border-radius: 40px 0;
    overflow: hidden;

    img {
        width: 100%;
        background-size: cover;
    }
}

.info__row-content {
    width: 48%;
    padding-right: 40px;

    h3 {
        color: #FFF;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 45px;
    }

    p {
        margin-bottom: 28px;
        color: #E6E6E7;
    }

    img {
        margin-right: 10px;
    }
}


// --------------------------------- TIMELINE SECTION ------------------------------ //

.timeline {
    background: #141420;
    padding-bottom: 125px;
}

.timeline__title {
    color: #fff;
    margin-bottom: 100px;
    text-align: center;
}

.timeline__inner {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    position: relative;
}

.timeline__line {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #747496;
    width: 2px;
    height: 88%;

    &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        background-color: #747496;
        border-radius: 50%;
    }
}

.timeline__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 158px;

    &:last-child {
        margin-bottom: 130px;
    }

    &:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    h4 {
        color: #FFF;
        font-family: Urbanist;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.22px;
        margin-bottom: 10px;
    }

    span {
        color: #E6E6E7;
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
    }

    p {
        color: #E6E6E7;
        font-weight: 500;
        line-height: 160%;
    }
}

.timeline__row {
    .timeline__row-left {
        text-align: right;
        margin-right: 105px;
    }


    &:nth-child(even) {
        flex-direction: row-reverse;

        .timeline__row-left {
            margin-right: 0px;
            text-align: left;
        }

        .timeline__row-right {
            margin-right: 105px;
            text-align: right;
            flex-direction: row-reverse;

            .timeline__row-index {
                margin: 0 0 0 20px;
            }
        }
    }
}

.timeline__row-left,
.timeline__row-right {
    width: 50%;
}

.timeline__row-right {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.timeline__row-index {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #FFF;
    font-family: Urbanist;
    font-size: 25.926px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.259px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    background-color: #6573FF;
    margin-right: 20px;
}

.timeline__row-bottom {
    text-align: center;
    max-width: 620px;
    margin: 0 auto;

    img {
        width: 45px;
        background-size: cover;
        margin-bottom: 20px;
    }

    p {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 170%;
    }
}


//  ----------------------------- PROCESSES SECTION------------------------------------- //

.processes {
    padding: 90px 0 0px;
}

.processes__title {
    max-width: 730px;
    text-align: left;
    margin-bottom: 55px;
    color: #fff;
}

.processes__top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.processes__top-item {
    height: 79px;
    width: 188px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #141420;
    backdrop-filter: blur(8.134979248046875px);
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.processes__bottom {
    position: relative;

    &:after {
        left: 0;
        bottom: 0;
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        background-color: #fff;
    }
}

.processes__bottom-item {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 367px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.12);
    padding: 35px;
}

.processes__botitem-frame {
    position: absolute;
    width: 60px;
    background-size: cover;
    bottom: 35px;
    right: 35px;
}

.processes__botitem-head {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 30px;

    img {
        width: 71px;
        background-size: cover;
        margin-right: 21px;
    }

    h3 {
        color: #2F2F34;
        font-family: Urbanist;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.3px;
    }
}

.processes__botitem-content {
    ul {
        li {
            color: #2F2F34;
            font-family: Montserrat;
            font-size: 17px;
        }
    }
}


//  ----------------------------- TESTIMONIALS SECTION ------------------------------------- //

.testimonials {
    background: #FFF;
    padding: 150px 0 160px;
}

.testimonials__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;

    h2 {
        color: #0B0B11;
    }
}

.testimonials__item {
    width: 100%;
    height: 403px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    overflow: hidden;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.12);
}

.testimonials__item-content {
    height: 80%;
    padding: 35px;
    background-color: #fff;

    &>img {
        margin-bottom: 30px;
        width: 60px;
        background-size: cover;
    }

    p {
        color: #2F2F34;
    }
}

.testimonials__item-bottom {
    padding: 15px 35px;
    height: 20%;
    display: flex;
    align-items: center;
    background-color: #0B0B11;
}

.testimonials__item-ava {
    width: 60px;
    margin-right: 15px;

    img {
        width: 100%;
        background-size: cover;
    }
}

.testimonials__item-info {
    h3 {
        color: #6573FF;
        font-family: Urbanist;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.17px;
        margin-bottom: 3px;
    }

    span {
        color: #FFF;
        font-family: Urbanist;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.17px;
    }
}



//  ----------------------------- CONTUCT US SECTION ------------------------------------- //

.contactus {
    padding: 40px 0;
    background: #141420;
}

.contactus__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactus__title {
    color: #fff;
}

.contactus__content {
    display: flex;
    align-items: center;
}

.contactus__item {
    padding: 20px 22px;
    border-radius: 18px;
    background: #4C4C73;
    display: flex;
    align-items: center;

    &+.contactus__item {
        margin-left: 20px;
    }
}

.contactus__item-icon {
    width: 53px;
    margin-right: 20px;

    img {
        width: 100%;
        background-size: cover;
    }
}

.contactus__item-info {
    p {
        color: #FFf;
        font-family: Urbanist;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 0.18px;
        margin-bottom: 4px;
        display: block;
    }

    span {
        font-size: 15px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.15px;
        margin-left: 9px;
    }

    a {
        display: block;
        color: #FFF;
        font-family: Urbanist;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.18px;
        transition: .3s;

        &:hover {
            opacity: .6;
        }
    }
}



// -------------------------------------- ADAPTIVE ------------------------------------ //

@media (max-width:1600px) {
    .qr__frame .books {
        right: 0;
        width: 400px;
    }
}

@media (max-width:1399.8px) {
    .contactus__inner {
        flex-wrap: wrap;

        h2 {
            margin-bottom: 20px;
        }
    }

    .qr__inner h3 {
        width: 50%;
    }

    .experience__item {
        padding: 50px 30px;
        height: 500px;
    }

    .experience {
        padding: 80px 0 0;
    }

    .philosophy {
        padding: 80px 0;
    }

    .philosophy__left {
        padding-right: 20px;
    }

    .welcomesect__info h1 {
        font-size: 70px;
    }
}

@media (max-width:1199.8px) {
    .contactus__content {
        width: 100%;
        justify-content: space-between;
    }

    .contactus__item {
        height: 120px;
    }

    .contactus__item-info span {
        margin-left: 0;
        display: block;
    }

    .references__item {
        margin: 25px 0 0;
        height: 300px;
    }

    .references {
        padding: 80px 0;
    }

    .team {
        padding: 80px 0 110px;
    }

    .team__row-image {
        height: 410px;
    }

    .team__content-icons img {
        width: 100px;
    }

    .team__row:nth-child(2n) .team__row-content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .team__row-content p {
        font-size: 16px;
    }

    .team__row-content {
        height: 390px;
        padding: 25px;
    }

    .services__top:after {
        height: 25%;
    }

    .services__top {
        padding-top: 80px;
    }

    .services__top-item {
        height: 450px;
        margin-bottom: 25px;
    }

    .qr {
        padding: 80px 0;
    }

    .qr__inner h3 {
        font-size: 28px;
    }

    .qr__frame {
        height: 155px;
    }

    .qr__frame .books {
        width: 300px;
    }

    .technologies__content-smallitem {
        padding: 10px;
        height: 110px;
    }

    .experience:after {
        height: 15%;
    }

    .experience__item {
        height: auto;
        margin-bottom: 30px;
    }

    .experience__item h3 {
        font-size: 26px;
    }

    .philosophy__right-item {
        margin-bottom: 25px;
        width: 50%;
    }

    .philosophy__right-row {
        flex-wrap: wrap;
    }
}

@media (max-width:991.8px) {
    .contactus__content {
        flex-wrap: wrap;
    }

    .contactus__item-info span {
        margin-left: 10px;
        display: inline-block;
    }

    .contactus__item {
        width: 100%;
        height: 120px;
        padding-left: 30%;

        &+.contactus__item {
            margin: 20px 0 0 0;
        }
    }

    .testimonials__item {
        margin-bottom: 25px;
        height: 350px;
    }

    .testimonials__item-content {
        height: 75%;
    }

    .testimonials__item-bottom {
        height: 25%;
    }

    .testimonials__item-content {
        padding: 20px;
    }

    .testimonials {
        padding: 70px 0 100px;
    }

    .processes__bottom:after {
        height: 80%;
    }

    .processes__bottom-item {
        margin-bottom: 25px;
    }

    .processes {
        padding: 70px 0 0px;
    }

    .team {
        padding: 40px 0 110px;
    }

    .team__row+.team__row {
        margin-top: 50px;
    }

    .team__row-image {
        width: 100%;
        border-radius: 0px 0 25px 0 !important;
    }

    .team__row-content {
        height: auto;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .team__head {
        margin-bottom: 50px;
    }

    .team__row {
        flex-direction: column-reverse;
        height: auto;
    }

    .team__row:nth-child(2n) {
        flex-direction: column-reverse;

        .team__row-content {
            border-radius: 20px 20px 0 0;
        }
    }

    .services__bottom {
        padding: 35px 0 70px;
    }

    .services__title {
        margin-bottom: 50px;
    }

    .qr__frame {
        position: relative;
        transform: none;
        width: 100%;
        margin: 0 auto;
        max-width: 650px;
    }

    .qr__inner h3 {
        width: 100%;
        margin-bottom: 40px;
    }

    .technologies {
        padding: 70px 0 70px;
        background-color: #fff;
    }

    .technologies__content-bigitem {
        margin-bottom: 25px;
    }

    .technologies__content-smallitem {
        margin-bottom: 25px;
    }

    .technologies__content .row+.row {
        margin-top: 10px;
    }

    .approach {
        padding: 90px 0;
    }

    .approach__slider .swiper-button-next,
    .approach__slider .swiper-button-prev {
        display: none;
    }

    .approach__slider {
        padding: 80px 50px 0;
    }

    .approach__slider-item>img {
        width: 100%;
    }

    .approach__slide-content {
        width: 100%;
        margin-bottom: 20px;

        a {
            display: flex;
        }
    }

    .approach__slider-item {
        flex-direction: column-reverse;
    }

    .experience__title {
        margin-bottom: 50px;
    }

    .philosophy__right>h2 {
        margin-bottom: 40px;
    }

    .philosophy__left {
        max-width: 600px;
        padding-right: 0;
        margin-bottom: 40px;
    }

    .philosophy__left-content h2 {
        color: #FFF;
        margin-bottom: 40px;
    }

    .welcomesect__info h1 {
        font-size: 58px;
    }
}

@media (max-width:767.8px) {
    .contactus__item {
        padding-left: 20%;
    }

    .testimonials__item-content>img {
        margin-bottom: 20px;
    }

    .testimonials {
        padding: 70px 0 60px;
    }

    .processes__botitem-head h3 {
        font-size: 26px;
    }

    .processes__bottom-item {
        padding: 15px;
    }

    .testimonials__head {
        h2 {
            margin-bottom: 40px;
        }

        margin-bottom: 50px;
        flex-wrap: wrap;
    }

    .processes__title {
        margin-bottom: 30px;
    }

    .processes__top {
        justify-content: space-between;
    }

    .processes__top-item {
        height: 79px;
        width: 48%;
        margin-right: 0;
    }

    .references__item {
        padding: 25px 20px;

        p {
            font-size: 15px;
        }
    }

    .references__item-head img {
        margin-right: 10px;
    }

    .reference__frame {
        width: 200px;
        bottom: 50px;
    }

    .team__row-content h3 {
        font-size: 26px;
    }

    .team__row-content {
        padding: 25px 25px 40px;
    }

    .team__content-icons {
        flex-wrap: wrap;
        height: auto;

        img {
            width: 75px;
            margin-bottom: 10px;
        }
    }

    .team__content-frame {
        width: 50px;
    }

    .team__row-image {
        height: 45vw;
    }

    .team {
        padding: 60px 0 90px;
    }

    .team__head {
        flex-wrap: wrap;
        margin-bottom: 60px;

        h2 {
            margin-bottom: 30px;
        }
    }

    .services__bottom-item {
        margin-bottom: 20px;
    }

    .services__bottom {
        padding: 25px 0 50px;
    }

    .services__top {
        padding-top: 70px;
    }

    .services__top:after {
        height: 12%;
    }

    .qr__inner h3 {
        font-size: 26px;
    }

    .technologies__content-bigitem {
        height: 229px;

        p {
            font-size: 16px;
        }
    }

    .technologies__top {
        flex-wrap: wrap;
        margin-bottom: 40px;

        h2 {
            margin-bottom: 35px;
        }
    }

    .approach__slide-content {
        h3 {
            font-size: 25px;
        }

        li {
            font-size: 15px;
        }
    }

    .approach__slider .swiper-pagination-bullet {
        font-size: 16px;
        width: 100px;
    }

    .approach__slide-content a {
        width: auto;
    }

    .approach__slider {
        padding: 70px 0px 0;
    }

    .approach__title {
        margin-bottom: 50px;
    }

    .approach {
        padding: 40px 0 80px;
    }

    .approach__slider .swiper-pagination-bullet {
        font-size: 18px;
        width: 130px;
    }

    .experience__item {
        padding: 80px 20px;
    }

    .experience {
        padding: 70px 0 0;
    }

    .philosophy__right-item {
        margin-bottom: 25px;
        width: 100%;
        margin-bottom: 40px;

        p {
            padding: 0;
        }
    }

    .philosophy__right>h2 {
        margin-bottom: 30px;
    }

    .philosophy__left-content p {
        margin-bottom: 30px;
    }

    .philosophy__left-content h2 {
        margin-bottom: 30px;
    }

    .philosophy {
        padding: 50px 0;
    }

    .welcomesect__info h1 {
        font-size: 46px;
    }

    .welcomesect {
        min-height: 700px;
    }

    .welcomesect__info h1 {
        margin-bottom: 40px;
    }

    .welcomesect__info p {
        margin-bottom: 55px;
    }
    .team__row-qr p {
        height: 50px;
        font-size: 16px;
    }
}

@media (max-width:575.8px) {


    .contactus {
        padding: 50px 0;
    }

    .contactus__item {
        padding-left: 22px;
        height: 90px;
    }

    .processes__botitem-content ul li {
        font-size: 15px;
    }

    .processes__botitem-frame {
        width: 35px;
        bottom: 15px;
        right: 15px;
    }

    .processes__botitem-head h3 {
        font-size: 20px;
    }

    .references__item {
        padding: 15px;
        min-height: 300px;
        height: auto;
    }

    .references {
        padding: 70px 0 90px;
    }

    .reference__frame {
        width: 157px;
        bottom: 50px;
    }

    .references__content-frame {
        right: 20px;
        bottom: 20px;
        width: 35px;
    }

    .team__row-content h3 {
        font-size: 20px;
    }

    .team {
        padding: 50px 0 70px;
    }


    .team__row+.team__row {
        margin-top: 25px;
    }

    .team__row-image {
        height: 65vw;
    }

    .team__row-head a {
        width: 30px;
        height: 30px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .team__content-frame {
        width: 38px;
    }

    .qr__frame .books {
        width: 250px;
        margin-right: -30px;
    }

    .qr {
        padding: 50px 0;
    }

    .qr__inner h3 {
        font-size: 20px;
        margin-bottom: 35px;
    }

    .technologies {
        padding: 70px 0 50px;
        background-color: #fff;
    }

    .approach__slider .swiper-pagination {
        height: 25px;
    }

    .approach__slider .swiper-pagination-bullet {
        font-size: 13px;
        padding-bottom: 5px;
        width: 90px;
    }

    .welcomesect__info h1 {
        font-size: 37px;
    }
}

@media (max-width:374.8px) {


    .contactus__item-info p {
        font-size: 13px;
    }

    .contactus__item-info span {
        font-size: 10px;
        margin-left: 5px;
    }

    .services__bottom-item img {
        width: 100px;
        height: 50px;
    }

    .services__bottom-item {
        height: 70px;
    }

    .qr__frame .books {
        width: 200px;
        margin-right: -10px;
    }

    .qr__frame {
        height: 120px;
    }

    .welcomesect__info h1 {
        font-size: 28px;
    }
}